.post-container {
  width: calc(100%- 10px);
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
}

img {
  height: 450px;
  width: 250px;
  border-radius: 10px;
}
.pagination-container {
  /* width: 550px; */
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  gap: 10px;
}

.page-btn {
  background-color: black;
  padding: 1rem;
  color: white;
  border-radius: 10px;
}

.active {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.page-btn:hover {
  transform: scale(0.8);
}
